body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: grey;
  font-size: 1.5em;
}
button {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
}
#results {
  margin-top: 10px;
}
